---
import Btn from "./Btn.jsx";
const { data } = Astro.props;
import "../styles/components-styles/ContactUsCard.scss"
---

<div class="ContactUsCard" data-aos="fade-in">
  <b>{data.label}</b>
  <h4>{data.title}</h4>
  <p>{data.description}</p>
  <Btn href="/">Запрос</Btn>
  <img src={data.img} alt="" />
</div>
