---

---

<footer>
  <ul>
    <h6>Адрес</h6>
    <li><a href="">Янгибозор</a></li>
  </ul>
  <ul>
    <h6>О хакатоне</h6>
    <li><a href="">Atlas Benefits</a></li>
    <li><a href="">Visa Infinite</a></li>
  </ul>
  <ul>
    <h6>Треки</h6>
    <li><a href="">Email</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">Instagram</a></li>
  </ul>
  <ul>
    <h6>Документация</h6>
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Terms of Use</a></li>
    <li><a href="">Statement Disclosure</a></li>
    <li><a href=""></a></li>
  </ul>
  <ul>
    <h6>Призы</h6>
    <li><a href="">Dining</a></li>
    <li><a href="">Travel</a></li>
    <li><a href="">Card</a></li>
    <li><a href="">App</a></li>
  </ul>
  <ul>
    <h6>Партнерам</h6>
    <li><a href="">Media Kit</a></li>
  </ul>
</footer>

<style lang="scss">
  footer {
    @apply mt-20 mx-auto max-lg:w-[80%] min-h-[300px] flex items-start justify-around max-lg:flex-wrap max-sm:flex-col gap-6 ;
    ul{
      h6{
        @apply text-neutral-500 text-xl font-normal font-Inter uppercase mb-5;
      }
      li{
        @apply mb-2;
        a{
          @apply text-white text-base font-normal font-Inter uppercase hover:underline
        }
      }
    }
  }
</style>

