---
import Btn from "./Btn";
import Modal from "./Modal.astro";
const { data } = Astro.props;
import "../styles/components-styles/SignUserCard.scss";
---

<div class="SignUserCard" data-aos="fade-in" data-aos-duration="400">
    <img src={data.image} />
    <h6>{data.title}</h6>
    <ul>
        {data.info.map((el) => <li>+ {el}</li>)}
    </ul>
    <Btn className="Btn">
        {data.title === "Один" ? "Я готов" : "Мы готовы"}
    </Btn>
    <p>Подтверждаю участие</p>
</div>
<Modal className="Modal"  />

<script>
    let btn = document.querySelector(".Btn");
    let modal = document.querySelector(".Modal");

    btn.addEventListener("click", () => {
        modal.showModal();
    });
</script>
