---
import Btn from "./Btn.astro";
const { data } = Astro.props;
---

<div class="SignUserCard" data-aos="fade-in" data-aos-duration="400">
    <img src={data.image} />
    <h6>{data.title}</h6>
    <ul>
        {data.info.map((el) => <li>+ {el}</li>)}
    </ul>
    <Btn href="/" className="Btn">
        {data.title === "Один" ? "Я готов" : "Мы готовы"}
    </Btn>
    <p>Подтверждаю участие</p>
</div>

<style lang="scss">
    .SignUserCard {
        @apply w-[500px] rounded-xl bg-[#141414] p-10 text-center;

        img {
            @apply mx-auto max-w-[100px];
        }

        h6 {
            @apply text-neutral-100 text-3xl font-normal font-Inter leading-[38.40px] mt-7 mb-5;
        }

        ul {
            @apply text-left mb-12;

            li {
                @apply text-neutral-400 text-xl font-normal font-Inter leading-7 mb-2;
            }
        }
        p {
            @apply text-neutral-400 text-xs font-normal font-['Inter'] leading-7 mt-4;
        }
    }
</style>
