---
import {ConditionsSectData} from "../utils/localdata"
---

<section class="Conditions">
  <h6>Документация хакатона</h6>
  <h3>Наши правила</h3>
  <div class="InnerFrame"  data-aos="zoom-in" data-aos-duration="400">
    <span>$</span>
    <div class="Head">
      <div class="Text">
        <h4 data-aos="fade-up" data-aos-duration="400">Условия участия</h4>
        <p data-aos="fade-up" data-aos-duration="800">
          Условия необходимые для подачи заявки об участии в хакатоне для команд
          и одиночных участников.
        </p>
      </div>
      <img src="./Registan.png" data-aos="fade-left" data-aos-delay="300" data-aos-duration="400" />
    </div>
    <ul class="Body">
      {
        ConditionsSectData &&
          ConditionsSectData.map((el) => (
            <li>
              <span data-aos="fade-up" data-aos-duration="400">{el.num}</span>
              <p data-aos="fade-up" data-aos-duration="800">{el.text}</p>
            </li>
          ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  .Conditions {
    @apply lg:w-[80%] mx-auto mb-80;
    h6 {
      @apply text-center text-orange-600 text-xl font-normal font-Inter leading-loose mb-4;
    }
    h3 {
      @apply text-center text-neutral-100 text-5xl font-normal font-Inter leading-10 mb-16;
    }
    .InnerFrame {
      @apply w-full rounded-3xl bg-white lg:py-12 lg:px-14 px-4 py-10 text-black;
      span:first-child {
        @apply mb-3;
      }
      span {
        @apply inline-block rounded-full text-xl lg:text-3xl bg-black py-3 px-5 text-white font-Inter;
      }
      .Head {
        @apply flex items-center justify-center lg:justify-between max-xl:text-center flex-wrap mb-5;
        .Text {
          @apply 2xl:max-w-[345px] max-xl:w-full max-xl:text-center;
          h4 {
            @apply text-black text-5xl lg:text-6xl font-semibold font-Inter  mb-4;
          }
          p {
            @apply xl:max-w-[570px] text-black text-opacity-50 text-base font-normal font-Inter leading-7;
          }
        }
        img {
          @apply xl:translate-x-14 max-xl:mx-auto;
        }
      }
      ul.Body {
        @apply flex flex-wrap xl:justify-between justify-center gap-y-16 gap-x-7;
        li {
          @apply xl:w-[48%] max-xl:max-w-[400px] flex gap-x-8 items-start;
          p {
            @apply max-w-[400px] font-medium font-Inter leading-7;
          }
        }
      }
    }
  }
</style>
