---
import { ContactUsSectData } from "../utils/localdata";
import ContactUsCard from "../components/ContactUsCard.astro";
import "../styles/pages-styles/indexPage/sections/ContactUs.scss"
---

<section class="ContactUs">
  {ContactUsSectData.map((el) => <ContactUsCard data={el} />)}
</section>