---
import Btn from "../components/Btn.jsx";
import "../styles/pages-styles/indexPage/sections/Hero.scss"
---

<section class="Hero">
  <h6>
    Nation
    <img src="./favicon.svg" alt="logo" />
     Hack
  </h6>
  <img src="./Moon.png" class="Moon" />

  <div class="Text" data-aos="fade-up">
    <h1>
      Решай проблему <img src="./ArtHero.png" alt="" /> бизнеса
      <br class="max-md:hidden" />
       и побеждай на
      <img src="./favicon.svg" alt="" />
       лучшем
      <span>хакатоне</span>
    </h1>

    <Btn href="/">Записаться</Btn>
  </div>
</section>
