---

---

<section class="Location">
  <img src="/wallet.svg" alt="" />
  <div class="InnerFrame">
    <div class="Text">
      <h4>Место где встречатся технологии</h4>
      <p>Мы находимся в комфортной остановке под городом</p>
      <span>Ташкентская область, город Янгибозор, улица Мустакиллик</span>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d374.59724791586797!2d69.52871983516228!3d41.31369323033332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae5774bb568c81%3A0x5a794f7263a1e89a!2zQXN0cnVtIC0g0JjQoiDQkNC60LDQtNC10LzQuNGP!5e0!3m2!1sru!2s!4v1697881873048!5m2!1sru!2s"
      height="384"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<style lang="scss">
  section.Location {
    @apply lg:w-[80%] mx-auto relative rounded-2xl bg-white md:p-14 p-8 text-black mb-44;
    .InnerFrame {
      @apply flex items-center justify-between max-xl:flex-wrap max-xl:text-center gap-16;
      .Text {
        h4 {
          @apply xl:max-w-[370px] xl:text-7xl md:text-6xl text-4xl font-semibold font-Inter leading-none mb-4;
        }
        p {
          @apply opacity-50 text-[17px] font-normal font-Inter mb-3;
        }
        span {
          @apply text-black text-opacity-40 text-[10px] font-normal font-Inter;
        }
      }
      iframe {
        @apply rounded-3xl max-xl:mx-auto max-xl:w-full xl:w-[384px];
      }
    }
  }
</style>
