---
import "../styles/pages-styles/indexPage/sections/Location.scss"
---

<section class="Location">
  <img src="/wallet.svg" alt="" />
  <div class="InnerFrame">
    <div class="Text">
      <h4>Место где встречатся технологии</h4>
      <p>Мы находимся в комфортной остановке под городом</p>
      <span>Ташкентская область, город Янгибозор, улица Мустакиллик</span>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d374.59724791586797!2d69.52871983516228!3d41.31369323033332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae5774bb568c81%3A0x5a794f7263a1e89a!2zQXN0cnVtIC0g0JjQoiDQkNC60LDQtNC10LzQuNGP!5e0!3m2!1sru!2s!4v1697881873048!5m2!1sru!2s"
      height="384"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
