---
import { MarqueeSectData } from "../utils/localdata";
import "../styles/pages-styles/indexPage/sections/Marquee.scss"
---

<section class="Marquee">
  <h6>О главном</h6>
  <h4>Партнеры хакатона:</h4>
  <div class="InnerFrame">
    <div class="marquee marquee-right">
      {
        MarqueeSectData.map((brand) => (
          <a href="/" class="mark">
            <div class="circle" />
            <h6>{brand.brand}</h6>
            <img src="/arrow-right.svg" alt="" />
          </a>
        ))
      }
      {
        MarqueeSectData.map((brand) => (
          <a href="/" class="mark">
            <div class="circle" />
            <h6>{brand.brand}</h6>
            <img src="/arrow-right.svg" alt="" />
          </a>
        ))
      }
    </div>
    <div class="marquee marquee-left">
      {
        MarqueeSectData.map((brand) => (
          <a href="/" class="mark">
            <img src="/arrow-left.svg" alt="" />
            <h6>{brand.brand}</h6>
            <div class="circle" />
          </a>
        ))
      }
    </div>
  </div>
  <p>Свяжитесь с нами если хотите стать партнером</p>
</section>

<script>
  import { gsap } from "gsap/all";
  let marquee_left = document.querySelector(".marquee-left");
  let marquee_right = document.querySelector(".marquee-right");
  gsap.fromTo(
    marquee_left,
    {
      xPercent: 100,
      repeat: -1,
      duration: 90
    },
    {
      xPercent: -100,
      repeat: -1,
      duration: 90
    },
  );
  gsap.fromTo(
    marquee_right,
    {
      xPercent: -100,
      repeat: -1,
      duration: 90
    },
    {
      xPercent: 100,
      repeat: -1,
      duration: 90
    },
  );
</script>
