---
import { initClient } from "../appwrite";
---

<script
defer
src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"
></script>

<section class="Prizes">
  <h3>Готов посоревноваться?</h3>
  <swiper-container
  class="mySwiper"
  centered-slides="true"
  grab-cursor="true"
  effect="cards"
  >
  <!-- slides-per-view="3" -->
    <!-- loop="true" -->
    <!-- autoplay-duration="2500" -->
    <!-- autoplay-disable-on-interaction="false" -->

    <swiper-slide>
      <img src="./Prize_card.svg" class="BG" />
      <div class="inner">
        <h6><img src="./Trophy.svg" />CHAMP</h6>
        <div class="main_img">
          <!-- <img src="" alt=""> -->
        </div>
        <div class="timeline">
          <div class="start">
            <b>Start</b>
            <br />
            <span>1 day</span>
          </div>
          <div class="hr"></div>
          <img src="./stat_icon.svg" alt="" />
          <div class="hr"></div>
          <div class="finish">
            <b>Finish</b>
            <br />
            <span>3 day</span>
          </div>
        </div>
        <div class="CBottom">
          <p>1 Место Лучшее решение</p>
          <b>$ 400</b>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img src="./Prize_card.svg" class="BG" />
      <div class="inner">
        <h6><img src="./Mechanical_Arm.svg" />CLEAR</h6>
        <div class="main_img">
          <!-- <img src="" alt=""> -->
        </div>
        <div class="timeline">
          <div class="start">
            <b>Start</b>
            <br />
            <span>1 day</span>
          </div>
          <div class="hr"></div>
          <img src="./stat_icon.svg" alt="" />
          <div class="hr"></div>
          <div class="finish">
            <b>Finish</b>
            <br />
            <span>3 day</span>
          </div>
        </div>
        <div class="CBottom">
          <p>2 Место Лучшее решение</p>
          <b>$ 300</b>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img src="./Prize_card.svg" class="BG" />
      <div class="inner">
        <h6><img src="./Brain.svg" />POWER</h6>
        <div class="main_img">
          <!-- <img src="" alt=""> -->
        </div>
        <div class="timeline">
          <div class="start">
            <b>Start</b>
            <br />
            <span>1 day</span>
          </div>
          <div class="hr"></div>
          <img src="./stat_icon.svg" alt="" />
          <div class="hr"></div>
          <div class="finish">
            <b>Finish</b>
            <br />
            <span>3 day</span>
          </div>
        </div>
        <div class="CBottom">
          <p>3 Место Лучшее решение</p>
          <b>$ 200</b>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>

<style lang="scss">
  .Prizes {
    @apply mb-28;
    h3{
      @apply text-center text-neutral-100 text-3xl md:text-5xl font-normal font-Inter leading-10 mb-11; 
    }
    swiper-container {
      @apply max-sm:w-[90%] sm:w-[70%] lg:w-[50%] mx-auto;
      swiper-slide {
        @apply relative h-auto;
        img.BG {
          @apply mx-auto w-full h-auto;
        }
        .inner {
          @apply absolute top-0 w-full h-full sm:p-9 p-5;
          h6 {
            @apply text-neutral-800 sm:text-2xl font-bold font-Inter leading-snug text-center sm:mb-9 mb-5;
            img {
              @apply inline-block max-w-[30px] sm:max-w-[50px] mr-2;
            }
          }
          .main_img {
            @apply rounded-xl bg-[#A08181] min-h-[40%] xl:mb-16 sm:mb-10 mb-5;
          }
          .timeline {
            @apply flex items-center justify-between gap-x-6 mb-7;
            .hr {
              @apply w-full border border-stone-400;
            }
            .start,
            .finish {
              b {
                @apply text-neutral-800 text-xl font-extrabold font-Inter leading-snug;
              }
              span {
                @apply text-neutral-400 text-sm font-extrabold font-Inter leading-snug;
              }
            }
          }
          .CBottom {
            @apply absolute left-0 bottom-0 sm:p-9 p-5 w-full h-[25%] flex justify-between items-center border-t-4 border-dotted border-stone-400;
            p {
              @apply max-w-[270px] text-neutral-400 sm:text-3xl font-semibold font-Inter;
            }   
            b {
              @apply text-neutral-800 sm:text-4xl font-semibold font-Inter;
            }
          }
        }
      }
    }
  }
</style>
