---
import "../styles/pages-styles/indexPage/sections/Prizes.scss"
---

<script
defer
src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"
></script>

<section class="Prizes">
  <h3>Готов посоревноваться?</h3>
  <swiper-container
  class="mySwiper"
  centered-slides="true"
  grab-cursor="true"
  effect="cards"
  autoplay-disable-on-interaction="false"
  autoplay-duration="2500"
  >
  <!-- slides-per-view="3" -->
  <!-- loop="true" -->

    <swiper-slide>
      <img src="./Prize_card.svg" class="BG" />
      <div class="inner">
        <h6><img src="./Trophy.svg" />CHAMP</h6>
        <div class="main_img">
          <!-- <img src="" alt=""> -->
        </div>
        <div class="timeline">
          <div class="start">
            <b>Start</b>
            <br />
            <span>1 day</span>
          </div>
          <div class="hr"></div>
          <img src="./stat_icon.svg" alt="" />
          <div class="hr"></div>
          <div class="finish">
            <b>Finish</b>
            <br />
            <span>3 day</span>
          </div>
        </div>
        <div class="CBottom">
          <p>1 Место Лучшее решение</p>
          <b>$ 400</b>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img src="./Prize_card.svg" class="BG" />
      <div class="inner">
        <h6><img src="./Mechanical_Arm.svg" />CLEAR</h6>
        <div class="main_img">
          <!-- <img src="" alt=""> -->
        </div>
        <div class="timeline">
          <div class="start">
            <b>Start</b>
            <br />
            <span>1 day</span>
          </div>
          <div class="hr"></div>
          <img src="./stat_icon.svg" alt="" />
          <div class="hr"></div>
          <div class="finish">
            <b>Finish</b>
            <br />
            <span>3 day</span>
          </div>
        </div>
        <div class="CBottom">
          <p>2 Место Лучшее решение</p>
          <b>$ 300</b>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img src="./Prize_card.svg" class="BG" />
      <div class="inner">
        <h6><img src="./Brain.svg" />POWER</h6>
        <div class="main_img">
          <!-- <img src="" alt=""> -->
        </div>
        <div class="timeline">
          <div class="start">
            <b>Start</b>
            <br />
            <span>1 day</span>
          </div>
          <div class="hr"></div>
          <img src="./stat_icon.svg" alt="" />
          <div class="hr"></div>
          <div class="finish">
            <b>Finish</b>
            <br />
            <span>3 day</span>
          </div>
        </div>
        <div class="CBottom">
          <p>3 Место Лучшее решение</p>
          <b>$ 200</b>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
