---
import SignUserCard from "../components/SignUserCard.astro";
import { SignUpSectdata } from "../utils/localdata";
import "../styles/pages-styles/indexPage/sections/SignUp.scss"
---

<section class="SignUp">
    <h6>Регистрация</h6>
    <h4>Зарегистрироваться одному или с командой. Выбирай.</h4>
    <div class="InnerFrame">
        {SignUpSectdata.map((el) => <SignUserCard data={el} />)}
    </div>
    <p class="support">Есть вопросы или нашли ошибку, напишите в службу поддержки</p>
    <a href="/" class="support">Служба поддержки →</a>
</section>