---
import "../styles/pages-styles/indexPage/sections/TimeLine.scss"
---

<section class="TimeLine">
  <h6>Программа</h6>
  <h4>Таймлайн</h4>
  <ul class="TimeLine">
    <li>
      <img class="star" src="./star.svg"/>
      <b>15 ноября</b>
      <b>18:00</b>
      <p>
        Встреча команд и открытие хакатона. Распределение задач между команда.
        Торжественная царемония открытия.
      </p>
    </li>
    <li>
      <img class="star" src="./star.svg"/>
      <b>16 ноября</b>
      <b>12:00</b>
      <p>Закрытие регистрации</p>
    </li>
    <li>
      <img class="star" src="./star.svg"/>
      <b>18 ноября</b>
      <b>12:00</b>
      <p>
        Отбор команд продолжается до 12:00 18 ноября. До 18:00, все команды
        прошедшие отбор, получат письмо с приглашением на участие.
      </p>
    </li>
    <li>
      <img class="star" src="./star.svg"/>
      <b>19 ноября</b>
      <b>12:00</b>
      <p>
        Отбор команд продолжается до 12:00 18 ноября. До 18:00, все команды
        прошедшие отбор, получат письмо с приглашением на участие.
      </p>
    </li>
  </ul>
</section>