---

---

<section class="TimeLine">
  <h6>Программа</h6>
  <h4>Таймлайн</h4>
  <ul class="TimeLine">
    <li>
      <img class="star" src="./star.svg"/>
      <b>15 ноября</b>
      <b>18:00</b>
      <p>
        Встреча команд и открытие хакатона. Распределение задач между команда.
        Торжественная царемония открытия.
      </p>
    </li>
    <li>
      <img class="star" src="./star.svg"/>
      <b>16 ноября</b>
      <b>12:00</b>
      <p>Закрытие регистрации</p>
    </li>
    <li>
      <img class="star" src="./star.svg"/>
      <b>18 ноября</b>
      <b>12:00</b>
      <p>
        Отбор команд продолжается до 12:00 18 ноября. До 18:00, все команды
        прошедшие отбор, получат письмо с приглашением на участие.
      </p>
    </li>
    <li>
      <img class="star" src="./star.svg"/>
      <b>19 ноября</b>
      <b>12:00</b>
      <p>
        Отбор команд продолжается до 12:00 18 ноября. До 18:00, все команды
        прошедшие отбор, получат письмо с приглашением на участие.
      </p>
    </li>
  </ul>
</section>

<style lang="scss">
  section.TimeLine {
    @apply mb-48;
    h6 {
      @apply text-center text-orange-600 text-[22px] font-normal font-Inter mb-4;
    }
    h4 {
      @apply text-center text-white text-4xl font-semibold font-Inter mb-20;
    }
    ul.TimeLine {
      @apply xl:w-[80%] mx-auto lg:border-l ;
      li {
        @apply relative flex lg:flex-row flex-col lg:items-center lg:justify-between lg:gap-x-5 max-lg:gap-y-5 lg:p-16 p-10 lg:ml-24 border-b;
        .star {
          @apply max-lg:hidden lg:absolute lg:-left-[7.3rem];
        }
        b {
          @apply text-white text-[28px] font-semibold font-Inter leading-[33.60px];
        }
        p {
          @apply inline-block lg:w-[465px] opacity-70 text-red-200 font-normal font-Inter leading-loose;
        }
      }
    }
  }
</style>
