---
import "../styles/pages-styles/indexPage/sections/Title.scss"
---

<section class="Title">
  <img
    src="./cosmonaut.png"
    class="Cosmonaut"
    alt=""
    data-aos="fade-down-left"
    data-aos-duration="700"
  />
  <div class="Frame" data-aos="zoom-in" data-aos-duration="400">
    <h2>
      <span> Первый хакатон <br /> в Узбекистане</span>
      <br /> где решают проблемы <br /> бизнеса.
    </h2>
    <p>
      На хакатоне представлены реальные задачи от бизнес - партнеров проекта.
    </p>
  </div>
  <img
    src="./cashmachine.png"
    alt=""
    class="Cashmachine"
    data-aos="fade-up-right"
    data-aos-duration="700"
  />
</section>
